@charset "utf-8";
/* CSS Document */



.box3{background:url(../image/HD_Swimming-Pool---Night-View.jpg) no-repeat;
      background-size:100% 100%;
      height:650px;
	  padding-bottom:0px;

	
	 }


.bb{ no-repeat;
height:160px;
background-size:100%;
}


.bb:hover {animation:first .4s linear forwards;}



@keyframes first{
to{transform:scale(1.2,1.2)}
	
	}




.bc{ no-repeat;
height:160px;
background-size:100%;
}


.bc:hover {animation:first1 .4s linear forwards;}



@keyframes first1{
to{transform:scale(1.2,1.2)}
	
	}






.bd{ no-repeat;
height:160px;
background-size:100%;
}


.bd:hover {animation:first2 .4s linear forwards;}



@keyframes first2{
to{transform:scale(1.2,1.2)}
	
	}





.be{ no-repeat;
height:160px;
background-size:100%;
}


.be:hover {animation:first3 .4s linear forwards;}



@keyframes first3{
to{transform:scale(1.2,1.2)}
	
	}





.bf{ no-repeat;
height:160px;
background-size:100%;
}


.bf:hover {animation:first4 .4s linear forwards;}



@keyframes first4{
to{transform:scale(1.2,1.2)}
	
	}








.bg{ no-repeat;
height:160px;
background-size:100%;
}


.bg:hover {animation:first5 .4s linear forwards;}



@keyframes first5{
to{transform:scale(1.2,1.2)}
	
	}










#myCarousel{height:320px;}

      
.banner{height:600px;
        background-color:#03C;
		padding:0px;
		}         
      
	  
a {
    color:#FFF;
    
}
	  
	  
.navt{background-color:#0CF;
     }
  
	  
.spa{background-color:#FFF}	  
	  
	  
	  
.book{height:auto;
     
       background-color:#000;
       background-size:100% 100%; 
	   position:relative;
	   top:0px;
	 }

      	   
	   
	   
.book1{height:auto;
    
		padding:0px;
	}	   
	   
	   
.book2{height:auto;
       
	
		padding-top:20px;
		color:#FFF;
		}
		   
.book3{height:auto;
     
		
		padding-top:20px;
		color:#FFF;
	}	   
	   
	   
.book4{height:auto;
   
	
		padding-top:20px;
		color:#FFF;}	
		   
.book5{height:auto;
         
		padding-top:20px;
		color:#FFF;}
			   
.book6{height:auto;
      
		  
		
		padding-top:37px;}	
		   
   
	   
	   
	   
	   
	   
.input{height:30px;
       width:100%;
	   color:#000;
       border-radius:4px 4px 4px 4px;
	   border-color:#FFF;
	   border:0px;
	   padding-left:6px;
	  
	
	  
	}	   
	   
	   
	   
.book12{height:110px;
      
		 padding-top:25px;
		 padding-left:0px;
		 }	   
	   
.book13{height:110px;
       font-size:18px;
          
		  padding-top:25px;
		  color:#FFF;}		   
	   
	   
	   
	   
.form-control{height:31px;
              width:100%;
}


.input1{height:30px;
       width:100%;
       
	   color:#000;
       border-radius:4px 4px 4px 4px;
	   border-color:#FFF;
	   border:0px;
	   padding-left:5px;
	
	  
	}



.input2{height:30px;
       width:100%;
	   color:#000;
       border-radius:4px 4px 4px 4px;
	   border-color:#FFF;
	   border:0px;
	   padding-left:5px;
	
	  
	}



.input3{height:40px;
       width:100%;
	   color:#FFF;
	   background-color:#3FF;
       border-radius:4px 4px 4px 4px;
	   border-color:#FFF;
	   border:0px;
	   padding-left:5px;
	
	  
	}


.body{height:auto;

	  font-size:22px;
	  color:#000;
	  padding-top:30px}




.body1{height:auto;


	  font-size:32px;
	  color:#000;
	  padding-top:5px;
	}

.body2{height:auto;
     
      font-size:18px;

	
	  color:#000;
	  padding-top:13px;
	}




.body3{height:320px;
      
	  margin-top:15px;
	
  
	}


.body4{height:320px;
      margin-top:15px;
      
	 
	
    
	}

.body5{height:320px;
    
	margin-top:15px;
       
	}




.body6{height:320px;
      
	  margin-top:15px;
	
  
	}


.body7{height:320px;
      margin-top:15px;
      
	 
	
    
	}

.body8{height:320px;
    
	margin-top:15px;
       
	}


.abody{height:100px;
       
	   color:#000;
	   font-size:18px;
	   padding-top:60px;
	  }


.abody1{height:80px;
 
       
	   color:#000;
	   font-size:32px;
	   padding-top:40px;

	  }



.abody2{height:100px;
       
	   color:#000;
	   font-size:18px;
	   padding-top:18px;
	  
	  }





.body9{height:320px;
      
	  margin-top:15px;

	
  
	}


.body10{height:320px;
      margin-top:15px;
      
	 
	
    
	}

.body11{height:320px;
    
	margin-top:15px;
       
	}



.abody3{height:80px;
margin-top:40px;
 
       
	   color:#000;
	   font-size:32px;
	   padding-top:40px;

	  }



.abody4{height:100px;
       
	   color:#000;
	   font-size:18px;
	   padding-top:18px;
	  
	  }


.body12{height:160px;
      
	  margin-top:15px;
	overflow:hidden;
	
  
	}


.body13{height:160px;
      margin-top:15px;
    overflow:hidden;
	 
	
    
	}

.body14{height:160px;
   
	margin-top:15px;
	overflow:hidden;
       
	}




.body15{height:160px;
      
	  margin-top:15px;
		overflow:hidden;
	 

	}


.body16{height:160px;
      margin-top:15px;
   	overflow:hidden;
    
	}

.body17{height:160px;
    
	margin-top:15px;
  	overflow:hidden;
	}


.body20{height:auto;
        
		font-size:18px;
		color:#000;
        margin-top:10px;
		
		 position:relative;
		 top:-310px;
	
		
       
	}



.body21{height:auto;
       
        font-size:18px;
	    margin-top:10px;
        color:#000;
		
		position:relative;
		 top:-310px;
	
	}


.body22{height:auto;
     
         font-size:18px;
	     margin-top:50px;
         color:#000;
		position:relative;
		 top:-350px;
		
	}

.footer{height:auto;
        background-color:#666;
		margin-top:10px;}




.footer1{height:200px;
        
		 color:#FFF;}

.footer2{height:auto;
       
		 color:#FFF;}

.footer3{height:200px;
        
		 color:#FFF;}

.footer4{height:200px;
         
		 color:#FFF;}


.afooter{height:40px;
         background-color:#666;
		  color:#FFF;
		  padding-top:20px;}



.bfooter{height:40px;
        
		 padding:0px;
		 margin-bottom:20px;}


.bfooter1{height:20px;
      padding:0px;   }


.bfooter2{height:20px;
      padding:0px;    }

.bfooter3{height:20px;
       padding:0px;   }
		 
.bfooter4{height:20px;
        padding:0px;   }
		 
 
.navbar{background:url(../image/Untitled-1.png);}	
	
	
.marq{height:50px;
   
	  
	font-family: georgia, palatino; font-size: 16pt; color: #666;
	margin-top:20px;
	  }	
	
	
.price{height:80px;
    
		position:relative;
		top:-80px;
		padding:0px;
	}
         	
	
	
	
	
	
	
	

.price1{height:30px;
       width:100%;
	   color:#FFF;
	   background-color:#3FF;
       
	   border-color:#FFF;
	   
	   padding-left:5px;
	   font-size:12px;
	   border: 2px solid #226fbe;
	  
	  }



.price1:hover {
	background: transparent;
	color: #226fbe;
}













.price2{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:17px;
		padding-top:15px;}


.price3{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:12px;
		padding-top:23px;
		
		
		
		
		
     }




.text {
  background-color:#0CF;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:1;
}



















@media only screen and (max-width:1199px)

    {
		
		
		
.price2{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:15px;
		padding-top:14px;}		
		
		
		
		
		
		
		
		
		
		}	
	
	
	   
@media only screen and (max-width:991px)

    {
		
		
.price{height:80px;
    
		position:relative;
		top:-80px;
		padding:0px;
	}
         	
			
		
		
		
		

.price2{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:13px;
		padding-top:14px;}


.price1{height:30px;
       width:100%;
	   color:#FFF;
	   background-color:#3FF;
       border-radius:4px 4px 4px 4px;
	   border-color:#FFF;
	   border:0px;
	   padding-left:5px;
	   font-size:9px;
	  }
		

.price3{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:12px;
		padding-top:8px;
     }
		
.book13{height:110px;
          font-size:13px;
          
		  padding-top:35px;
		  color:#FFF;}			
		
		
.book{height:auto;
     
       background-color:#000;
       background-size:100% 100%; 
	   position:relative;
	   top:0px;
	   padding-left:0px;
	   padding-right:0px;
	 }
		
		
	
		
	}
			
	
	
	
	
	
	
	
		 
		 
	   
@media only screen and (max-width:768px)

    {
		
.pull-right {
    float:left ;
		
		
}




.body{height:auto;

	  font-size:22px;
	  color:#000;
	  margin-top:20px;
	  }





.body1{height:auto;


	  font-size:32px;
	  color:#000;
	  padding-top:5px;
	}

.body2{height:auto;
     
      font-size:18px;

	
	  color:#000;
	  padding-top:13px;
	}



.body9{height:320px;
      
	  margin-top:40px;
	
  
	}


.body10{height:320px;
      margin-top:60px;
      
	 
	
    
	}

.body11{height:320px;
    
	margin-top:60px;
       
	}

.book{height:550px;

    

    background-size:100% 100%; 
	 position:relative;
	 top:0px;
	 

      }	   
	   

.abody2{height:100px;
       
	   color:#000;
	   font-size:18px;
	   padding-top:18px;
	   margin-top:50px;
	  
	  }
	  
	  
	  

.body12{height:160px;
      
	  margin-top:114px;
	
	
  
	}

.price{height:80px;
    
		position:relative;
		top:-80px;
		padding:0px;
	}
         	
.price1{height:30px;
       width:100%;
	   color:#FFF;
	   background-color:#3FF;
       
	   border-color:#FFF;
	   
	   padding-left:5px;
	   font-size:10px;
	   border: 2px dashed #226fbe;
	  
	  }
	

.price2{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:14px;
		padding-top:14px;
		padding-left:7px;
		padding-right:0px;}








.price3{height:80px;
        background:url(../image/Untitled-1.png);
		color:#FFF;
		font-size:12px;
		padding-top:11px;
     }


.book13{height:110px;
           font-size:24px;
		  padding-top:25px;
		  color:#FFF;}
		  
		  
		  
		  
		  	
.price1:hover {
	background: transparent;
	color: #226fbe;
}




 
}
		


.animation00 {
  position:relative;
  top:-320px;
  bottom: 0;
  left:0px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:#000;
}


.body9:hover .animation00 {
  opacity:.8;
}







.animation01 {
  position:relative;
  top:-320px;
  bottom: 0;
  left:0px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:#000;
}


.body10:hover .animation01 {
  opacity:.8;
}



.animation02 {
  position:relative;
  top:-320px;
  bottom: 0;
  left:0px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:#000;
}


.body11:hover .animation02 {
  opacity:.8;
}




.foter{margin-top:25px;
font-size:17px;
list-style:none;}


.dk{margin-top:8px;}


.botem{margin-bottom:10px}

.logo{background:url(../image/Ihotel_logo.png) no-repeat;
      ba}
		

